/* Cible la partie basse de la section */
.down-part {
    width: 100%;
}

#mariage .down-part {
    height: 300px;
}

#famille .down-part {
    height: 350px;
}

#portrait .down-part {
    height: 250px;
}

.testimonial-container {
    font-family: 'Cormorant Garamond', serif;
    height: auto;
    width: 50%;
    margin: 0 auto;
    border-radius: 2px;
    background-color: white;
    border-top: 1px solid rgb(250, 214, 180);
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
}

.testimonial-bloc {
    padding: 2rem;
    transition: all .2s ease;
    opacity: 0;
    transition: opacity .2s;
}

.testimonial-text {
    font-size: 1.1rem;
}

.testimonial-name {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
    color: rgb(250, 214, 180);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.295);
}

.testimonial-img {
    position: relative;
    margin-bottom: 1rem;
    left: 90%;
    width: 30px;
}

.show {
    opacity: 1 !important;
}

.testimonial-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.arrow-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(250, 214, 180);
}

.arrow {
    display: inline-block;
    padding: 3px;
    border-style:solid;
    border-width: 0 2px 2px 0;
}

.--arrow-left {
    transform: rotate(135deg);
}

.--arrow-right {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1550px) {
    .testimonial-container {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .testimonial-container {
        width: 80%;
    }

    #mariage .down-part {
        height: 350px;
    }

    .testimonial-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .testimonial-container {
        width: 90%;
    }

    .testimonial-text {
        font-size: .9rem;
    }
}

@media screen and (max-width: 650px) {
    .testimonial-bloc {
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {
    #portrait .down-part {
        height: 300px;
    }

    #famille .down-part {
        height: 400px;
    }
}