/* Element de séparation */
.spacer {
    padding-top: 150px;
}

strong {
    font-weight: 700;
}

/* Cible la partie haute de la section qui regroupe l'image et le texte */
.top-part {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

/* Cible l'image de la section et son arrière plan */
.picture-container {
    position: relative;
    width: 50%;
}

/* Cible la partie texte de la section */
.text-container {
    width: 40%;
    font-family: 'Cormorant Garamond', serif;
}

/* Image de la div picture-container */
.picture__img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 70%;
    object-fit: cover;
    border: 1px solid rgb(250, 214, 180);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#mariage .picture__img {
    background-image: url(/img/informations/meganeguisnet.photographemariage.grasse.alpesmaritimes.jpg);
}

#famille .picture__img {
    background-image: url(/img/informations/meganeguisnet.photographegrossessegrasse.photographe.grossesse.grasse.jpg);
}

#portrait .picture__img {
    background-image: url(/img/informations/meganeguisnet.photographe.cannes.photographe.nice.jpg);
}

/* Change la couleur de la bordure en blanc quand l'image est sur un arrière plan foncé */
.--white {
    border: 1px solid white;
}

/* Arrière plan de l'image de la div picture-container */
.picture__background {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 5%;
    background-color: rgb(250, 214, 180);
}

/* Place l'arrière plan a droite quand la section comporte une image sur la droite */
.--right {
    background-color: white;
    left: unset;
    right: 5%;
}

/* Titre de la div text-container */
.text__title {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
}

/* Texte informatif de la div text-container */
.text__sub {
    font-size: 1.3rem;
    line-height: 1.2;
}

/* Cible la section famille */
#famille {
    padding-bottom: 50px;
    background: rgb(255, 230, 207);
}

@media screen and (max-width: 1600px) {
    .picture__img {
        height: 50%;
    }

    .picture__background {
        height: 75%;
        top: 12.5%;
    }
}

@media screen and (max-width: 1400px) {
    .text__title {
        font-size: 1.5rem;
    }

    .text__sub {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .spacer {
        padding-top: 100px;
    }

    .top-part {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .--reverse {
        flex-direction: column-reverse;
    }

    .picture-container {
        width: 100%;
        height: 400px;
    }

    .picture-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .picture__background {
        display: none;
    }

    .picture__img {
        width: 90%;
        height: 100%;
        left: unset;
        top: unset;
        transform: unset;
    }

    .text-container {
        width: 90%;
        height: fit-content;
    }
}

@media screen and (max-width: 800px) {
    .picture-container {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .picture-container {
        height: 250px;
    }

    .text__title {
        font-size: 1.2rem;
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 450px) {
    .text__title {
        letter-spacing: 5px;
    }
}