<!-- Footer -->
<footer>
    <div class="footer__insta">
        <img data-src="/img/footer/MG_insta_footer_1.jpg" class="footer__insta__img" alt="photo instagram"></img>
        <img data-src="/img/footer/MG_insta_footer_2.jpg" class="footer__insta__img" alt="photo instagram"></img>
        <img data-src="/img/footer/MG_insta_footer_3.jpg" class="footer__insta__img" alt="photo instagram"></img>
        <img data-src="/img/footer/MG_insta_footer_4.jpg" class="footer__insta__img" alt="photo instagram"></img>
        <img data-src="/img/footer/MG_insta_footer_5.jpg" class="footer__insta__img" alt="photo instagram"></img>
    </div>
    <p class="legal"><a href="#">Mention légales. Tous droits réservés.</a></p>
</footer>
<!-- Footer END -->