<!-- Header -->
<header class="header__menu">

    <!-- Menu Hamburger pour mobile -->
    <div class="menu__mobile">Menu
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="logo__mobile">
        <a href="/">
            <img src="/img/logo_black.png" alt="logo">
        </a>
    </div>

    <!-- Menu -->
    <nav>
        <ul class="menu">
            <li class="menu__cell"><a class="menu__link" href="/presentation">Présentation</a></li>
            <li class="menu__cell menu__cell--active"><a class="menu__link" href="/portfolio/mariage">Portfolio</a>
                <ul class="menu__sub">
                    <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/mariage">Mariage</a>
                    </li>
                    <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/famille">Famille/Couple</a>
                    </li>
                    <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/portrait">Portrait</a>
                    </li>
                </ul>
            </li>
            <li class="menu__cell header__logo"><a class="menu__link menu__img" href="/">
                    <img src="/img/logo_black.png" alt="logo">
                </a></li>
            <li class="menu__cell menu__cell--active"><a class="menu__link" href="#">Informations</a>
                <ul class="menu__sub">
                    <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#mariage">Mariage</a>
                    </li>
                    <li class="menu__sub__cell"><a class="menu__link__sub"
                            href="/informations#famille">Famille/Couple</a></li>
                    <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#portrait">Portrait</a>
                    </li>
                </ul>
            </li>
            <li class="menu__cell"><a class="menu__link" href="/contact">Contact</a></li>
        </ul>
    </nav>
    <!-- Menu END-->
</header>
<!-- Header END -->