/* Englobe toute la section intro */
.intro__container {
    font-family: 'Cormorant Garamond', serif;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

/* Cible l'image et l'arrière plan de la section */
.intro__img {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
}

/* Arrière plan de la div intro__img */
.intro__img__bg {
    position: absolute;
    top: 300px;
    height: 50%;
    width: 70%;
    object-fit: contain;
}

/* Inverse l'arrière plan et le met a droite */
.--right-img-bg {
    right: 0;
}

/* Image de la div intro__img */
.intro__img__profil {
    position: relative;
    left: 40%;
    top: 100px;
    height: 70%;
    width: 50%;
    object-fit: contain;
}

/* Place l'image du côté gauche de sa div quand l'image doit être du côté droit de la section */
.--right-img-profil {
    left: 5%;
}

/* Englobe toute la div intro__about */
.intro__about {
    width: 40%;
    height: 100%;
}

/* Theme de la div intro__about */
.intro__about__theme {
    position: relative;
    padding: 1rem;
    margin-top: 50px;
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
}

/* Titre de la div intro__about */
.intro__about__title {
    padding: 1rem;
    text-align: left;
    font-size: 2.5rem;
}

/* hr à l'interieur de la div intro__about */
.intro__about__separation {
    margin: 1rem auto;
    width: 95%;
    height: 2px;
    background-color: rgb(255, 207, 162);
    border: none;
}

/* Texte de présentation de la div intro__about */
.intro__about__sub {
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
}

/* Place le texte à droite quand la section doit comporter un texte à gauche */
.--right {
    text-align: right;
}

@media screen and (max-width: 1450px) {
    .intro__about__theme {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1350px) {
    .intro__about__theme {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1250px) {
    .intro__about__theme {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1100px) {
    .intro__about__theme {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1000px) {
    /* Place les éléments en colonne inversé, pour avoir -> Texte -> Image */
    .intro__container {
        flex-direction: column-reverse;
        height: auto;
    }

    /* La classe qui devait mettre le texte à gauche ne doit plus remplir son rôle à cette taille */
    .--right {
        text-align: left;
    }

    /* La 2ème section est inversé de base, donc ajout d'une classe qui annule l'attribut column reverse ajouté par la classe intro__containter */
    .--not-reversed {
        flex-direction: column;
    }

    .intro__about, .intro__img {
        width: 90%;
    }

    .intro__img {
        margin: 1rem;
    }

    .intro__img__profil {
        width: 35%;
        top: 0;
        left: 32%;
    }

    /* Suppression de l'arrière plan */
    .intro__img__bg {
        display: none;
    }

    .intro__about__theme {
        text-align: center;
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .intro__about__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .intro__about {
        width: 100%;
    }

    .intro__img__profil {
        height: 80%;
    }

    .intro__about__theme {
        font-size: .7rem;
    }

    .intro__about__title {
        font-size: 1.5rem;
    }

    .intro__about__sub {
        font-size: 1rem;
    }
}