.intro__container {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.intro__img {
    width: 40%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__img__profil {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.intro__about {
    width: 40%;
    height: 100%;
}

.intro__about__theme {
    position: relative;
    padding: 1rem;
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
}

.intro__about__title {
    padding: 1rem;
    text-align: left;
    font-size: 2.5rem;
}

.intro__about__separation {
    margin: 1rem auto;
    width: 95%;
    height: 2px;
    background-color: rgb(255, 207, 162);
    border: none;
}

.intro__about__sub {
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
}

.intro__about__more {
    display: inline-block;
    margin: 1rem;
    border: 1px solid rgb(250, 190, 134);;
    background-color: rgb(255, 207, 162);;
    font-weight: 700;
}

@media screen and (max-width: 1200px) {
    .intro__container {
        flex-direction: column-reverse;
    }

    .intro__about, .intro__img {
        width: 90%;
    }

    .intro__img {
        height: 500px;
    }

    .intro__about__theme {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .intro__about__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .intro__about__theme {
        font-size: .9rem;
    }

    .intro__img {
        height: 360px;
    }
}