/* Footer */

.footer__insta {
    display: flex;
    justify-content: space-evenly;
    background: rgb(250, 214, 180);
}

.footer__insta__img {
    margin: 2rem;
    height: 150px;
    
    /* Valeur arbitraire, normalement ce serait divisé par 5 (nombre de photos) mais je préfère comme ça pour la largeur */
    width: calc(100% / 8);

    object-fit: cover;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
    background-color: tomato;
}

.legal {
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
    color: black;
}

@media screen and (max-width: 1200px) {
    .footer__insta__img {
        margin: .5rem;
        width: calc(100% / 5);
        height: 100px;
    }
}