* {
    margin: 0;
    padding: 0;
    user-select: none;
}

 body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/about/background.webp);
    background-attachment: fixed;
 }

/* Header du menu */
.header__menu {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(255, 221, 190, 0.719);
    font-family: sans-serif;
    font-weight: 500;
    font-size: .7em;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-style: normal;
}

/* Element ul qui englobe le menu */
.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 100px;
    height: 100px;
}

/* Element ul qui englobe les liens en dessous des categories portfolio et informations */
.menu__sub {
    visibility: hidden;
    border: 1px rgba(0, 0, 0, 0.096) solid;
    background-color: rgb(250, 214, 180);
    opacity: 0;
    z-index: -1;
    transform: translateY(3em);
    transition: all 0.3s ease, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

/* Liens du menu du header */
.menu__link {
    cursor: pointer;
    height: 100px;
    display: inline-block;
}

/* Cible les categories portfolio et informations pour afficher le sous-menu au survol et de rester afficher tant qu'il est focus */
.menu__cell--active:focus .menu__sub,
.menu__cell--active:hover .menu__sub,
.menu__cell--active:focus-within .menu__sub {
    visibility: visible;
    opacity: 0.8;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

/* Ajoute un effet au survol aux classes menu__cell sauf celle qui a la classe menu__img*/
.menu__link:not(.menu__img)::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    top: -40px;
    transition: width .3s;
}

.menu__link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* Elements li dans l'element ul des categories portfolio et informations */
.menu__sub__cell {
    line-height: 60px;
    height: 60px;
}

.menu__sub__cell:hover {
    opacity: 1;
    background-color: white;
}

/* Cible les liens dans le sous-menu */
.menu__link__sub {
    display: block;
}

/* Menu hamburger */
.menu__mobile {
    display: none;
}

/* Logo pour la version mobile */
.logo__mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    /* Donne toute la hauteur pour le header et enlève la couleur d'arrière plan */
    .header__menu {
        position: absolute;
        background-color: transparent;
    }

    /* Prend toute la place dans le conteneur pour que le menu puisse en prendre seulement 80% */
    .header__menu nav {
        position: absolute;
        z-index: -100;
    }

    /* Menu fixé et placé en bas, remonte quand il est activé. Place les élément en colonne */
    .menu {
        position: fixed;
        width: 100%;
        height: 80%;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 221, 190, 0.719);
        transition: all 0.5s ease-in;
        transform: translateY(100%);
    }
    
    /* Classe ajouté en JS quand le menu hamburger est clické */
    .active {
        transform: translateY(0);
        opacity: 1;
        z-index: 10;
    }

    /* Dispose correctement le sous-menu */
    .menu__sub {
        position: absolute;
        width: 100%;
        left: 0;
    }

    /* Etend les elements du menu pour que ce soit plus facilement cliquable */
    .menu__cell, .menu__link {
        width: 100%;
    }

    .menu__link:hover::after {
        width: 0;
    }

    /* Enlève le logo du menu pour laisser place à celui de la version mobile */
    .header__logo {
        display: none;
    }

    .logo__mobile {
        position: fixed;
        display: inline-block;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }


    /* Création du menu hamburger */
    .menu__mobile {
        display: block;
        position: fixed;
        margin: 50px;
        right: 0;
        letter-spacing: 0;
        z-index: 2;
        cursor: pointer;
    }

    .line {
        margin: 3px;
        width: 25px;
        height: 3px;
        border: 1px solid rgba(0, 0, 0, 0.288);
        background-color: rgb(250, 214, 180);
        transition: all 0.3s ease;
    }

    .toggle .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line:nth-child(2) {
        opacity: 0;
    }

    .toggle .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}