* {
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Header du menu */
.header__menu {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(255, 221, 190, 0.719);
    font-family: sans-serif;
    font-weight: 500;
    font-size: .7em;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-style: normal;
}

/* Element ul qui englobe le menu */
.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 100px;
    height: 100px;
}

/* Element ul qui englobe les liens en dessous des categories portfolio et informations */
.menu__sub {
    visibility: hidden;
    border: 1px rgba(0, 0, 0, 0.096) solid;
    background-color: rgb(250, 214, 180);
    opacity: 0;
    z-index: -1;
    transform: translateY(3em);
    transition: all 0.3s ease, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

/* Liens du menu du header */
.menu__link {
    display: inline-block;
}

/* Cible les categories portfolio et informations pour afficher le sous-menu au survol et de rester afficher tant qu'il est focus */
.menu__cell--active:focus .menu__sub,
.menu__cell--active:hover .menu__sub,
.menu__cell--active:focus-within .menu__sub {
    visibility: visible;
    opacity: 0.8;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

/* Ajoute un effet au survol aux classes menu__cell sauf celle qui a la classe menu__img*/
.menu__link:not(.menu__img)::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    top: -40px;
    transition: width .3s;
}

.menu__link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* Elements li dans l'element ul des categories portfolio et informations */
.menu__sub__cell {
    line-height: 60px;
    height: 60px;
}

.menu__sub__cell:hover {
    opacity: 1;
    background-color: white;
}

/* Cible les liens dans le sous-menu */
.menu__link__sub {
    display: block;
}

/* Menu hamburger */
.menu__mobile {
    display: none;
}

@media screen and (max-width: 850px) {

}