<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/client/style.css">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <title>Megane Guisnet Photographe - Galeries Clients</title>
        <meta name="description"
            content="Découvrez votre galerie réalisée spécialement pour vous !">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <%- include ('./partials/header.ejs') %>

        <div class="spacer"></div>

        <div class="client__intro">
            <h1 class="client__intro__title">Mégane, Photographe de votre amour.</h1>
            <p class="client__intro__sub">Je vous remercie pour votre confiance, pour vos souvenirs que vous m'avez permis de vivre à vos côté.</p>
            <p class="client__intro__sub">N'hésitez pas à venir me <a class="client__intro__link" href="https://g.co/kgs/6YNVfT">laisser un avis sur google</a>; cela m'aide beaucoup et aide également les futurs personnes qui souhaiteraient se lancer dans l'aventure !</p>
            <p class="client__intro__sub --little">Toute modification sera considérée comme une atteinte à l'intégrité des photographies et peuvent entrainer à des poursuites pour contrefaçon. Merci de ne pas recadrer les images, ni modifier de quelconque façon les photographies.</p>
            <p class="client__intro__sub --little">Toute utilisation des images (réseaux sociaux) devra être renvoyée, annotée vers la forme suivante : Mégane Guisnet www.meganeguisnet.com</p>
        </div>

        <div class="spacer-min"></div>

        <div id="jingooGallery"></div>

        <%- include ('./partials/footer.ejs') %>

        <!-- JS script -->
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <script type="text/javascript">(function (i, s, o, g, r, a, m) { i['JingooGalleryObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', "https://www.jingoo.com/api/accesDistant/VzsDZQpYV2QPaAB0UjoAYQh9VDBTcABrD2MHbQlgDWgPOVdkATsGZVtmBiBaPAZjViVUOFdrAG1bbwI5DT5ecFcmA1MKbVd8D2gAclIh.js", 'JingooGalleryLoader');</script>
        <!-- JS script END -->
        
    </body>
</html>