<!DOCTYPE html>
    <html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/contact/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet - Contact</title>
        <meta name="description"
            content="Pour vos photos de mariages, de familles ou portraits à Grasse, dans les Alpes-Maritimes n'hésitez pas à me contacter.">
        <script src="https://www.google.com/recaptcha/api.js?render=6LeAZ7UcAAAAADPAwYZK8IRRIDUE6UjHFbLztyd_"></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>

            <!-- Main header -->
            <section class="main__header">
                <h1 class="main__header__title">Écrivons-nous !</h1>
                <hr class="main__header__separation">
                <p class="main__header__sub">Ecrivez moi un message précis, en m'expliquant votre projet, vos idées; n'hésitez pas à me donner les détails de votre grand jour si vous vous mariez, confiez moi vos envies si vous souhaitez sauter le pas pour une séance photo seul(e) ou à plusieurs. Je me ferai un plaisir de vous conseiller, vous guider et vous apporter un regard bienveillant.</p>
            </section>
            <!-- Main header END -->

            <!-- Form -->
            <section class="form">
                <form class="form-container">

                    <div class="form__select">
                        <label for="presta">Quelle prestation t'interesse ?*</label>
                        <select id="presta" name="presta" id="presta">
                            <option value="mariage">Mariage</option>
                            <option value="famille">Famille</option>
                            <option value="couple">Couple</option>
                            <option value="grossesse/naissance">Grossesse/Naissance</option>
                            <option value="portrait">Portrait</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>

                    <div class="form__infos">
                        <input type="text" name="name" id="name" autocomplete="off" placeholder="Nom et Prénom*" required>
                        <input type="email" name="email" id="email" autocomplete="off" placeholder="Email*" required>
                        <input type="tel" name="tel" id="tel" autocomplete="off" placeholder="Téléphone">
                    </div>

                    <div class="form__mariage">
                        <input type="text" name="place" id="place" autocomplete="off" placeholder="Lieu de votre mariage">
                        <input type="text" name="date" id="date" autocomplete="off" placeholder="Date: JJ/MM/AAAA">
                    </div>

                    <div class="form__details">
                        <textarea name="details" id="details"
                            placeholder="Raconte moi tes envies! N'hésite pas a détailler, j'en ai besoin pour mieux te répondre*"
                            required></textarea>
                        <button type="submit" class="form__details__submit">Envoyer</button>
                    </div>
                </form>

                <address class="contact">
                    <div class="contact__container">
                        <hr class="main__header__separation">
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/map.svg" alt="icone carte">
                            <p class="contact__sub">Grasse, Alpes-Maritimes</p>
                        </div>
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/smartphone.svg" alt="icone telephone">
                            <p class="contact__sub">07.61.73.20.05</p>
                        </div>
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/instagram.svg" alt="icone instagram">
                            <a class="contact__sub --underline" href="https://www.instagram.com/megane_guisnet/">@megane_guisnet</a>
                        </div>
                        <hr class="main__header__separation">
                    </div>
                    <img src="/img/contact/meganeguisnet.photographe.photographegrasse.photographealpesmaritimes.jpg" alt="photo d'arrière plan" class="background__picture">
                </address>

            </section>
            <!-- Form END -->

        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>

        <!-- JS script -->
        <script src="/js/contact/scrollAnim.js"></script>
        <script src="/js/contact/captcha.js"></script>
        <script src="/js/contact/index.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>