<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/contact/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet - Contact</title>
        <meta name="description"
            content="Pour vos photos de mariages, de familles ou portraits à Grasse, dans les Alpes-Maritimes n'hésitez pas à me contacter.">
    </head>
    <body>
        <!-- Header -->
        <header class="header__menu">
        
            <!-- Menu Hamburger pour mobile -->
            <div class="menu__mobile">Menu
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        
            <div class="logo__mobile">
                <a href="/">
                    <img src="./img/logo_black.png" alt="logo">
                </a>
            </div>
        
            <!-- Menu -->
            <nav>
                <ul class="menu">
                    <li class="menu__cell"><a class="menu__link" href="/presentation">Présentation</a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Portfolio</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/famille">Famille/Couple</a>
                            </li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/portrait">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell header__logo"><a class="menu__link menu__img" href="/">
                            <img src="./img/logo_black.png" alt="logo">
                        </a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Informations</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations/mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub"
                                    href="/informations/famille">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations/portrait">Portrait</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__cell"><a class="menu__link" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- Menu END-->
        </header>
        <!-- Header END -->

        <!-- Main -->
        <main>

            <!-- Main header -->
            <section class="main__header">
                <h1 class="main__header__title">Contactons-nous !</h1>
                <hr class="main__header__separation">
                <p class="main__header__sub">Ecrivez moi un message précis, en m'expliquant votre projet, vos idées; n'hésitez pas à me donner les détails de votre grand jour si vous vous mariez, confiez moi vos envies si vous souhaitez sauter le pas pour une séance photo seul(e) ou à plusieurs. Je me ferai un plaisir de vous conseiller, vous guider et vous apporter un regard bienveillant.</p>
            </section>
            <!-- Main header END -->

            <!-- Form -->
            <section class="form">
                <form action="#" method="post">

                    <div class="form__select">
                        <label for="presta">Quelle prestation t'interesse ?*</label>
                        <select id="presta" name="presta">
                            <option value="mariage">Mariage</option>
                            <option value="famille">Famille</option>
                            <option value="couple">Couple</option>
                            <option value="grossesse/naissance">Grossesse/Naissance</option>
                            <option value="portrait">Portrait</option>
                        </select>
                    </div>

                    <div class="form__infos">
                        <input type="text" name="name" autocomplete="off" placeholder="Nom et Prénom*" required>
                        <input type="email" name="email" autocomplete="off" placeholder="Email*" required>
                        <input type="tel" name="tel" autocomplete="off" placeholder="Téléphone">
                    </div>

                    <div class="form__mariage">
                        <input type="text" name="lieu" placeholder="Lieu de votre mariage">
                        <input type="text" name="date" placeholder="Date: JJ/MM/AAAA">
                    </div>

                    <div class="form__details">
                        <textarea name="details"
                            placeholder="Raconte moi tes envies! N'hésite pas a détailler, j'en ai besoin pour mieux te répondre*"
                            required></textarea>
                        <button type="submit" class="form__details__submit">Envoyer</button>
                    </div>
                </form>

                <address class="contact">
                    <div class="contact__container">
                        <hr class="main__header__separation">
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/map.svg" alt="icone carte">
                            <p class="contact__sub">Grasse, Alpes-Maritimes</p>
                        </div>
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/smartphone.svg" alt="icone telephone">
                            <p class="contact__sub">07.61.73.20.05</p>
                        </div>
                        <div class="contact__info">
                            <img class="contact__info__icon" src="/img/contact/instagram.svg" alt="icone instagram">
                            <a class="contact__sub --underline" href="https://www.instagram.com/megane_guisnet/">@megane_guisnet</a>
                        </div>
                        <hr class="main__header__separation">
                    </div>
                    <img src="/img/contact/meganeguisnet.photographe.photographegrasse.photographealpesmaritimes.jpg" alt="photo d'arrière plan" class="background__picture">
                </address>

            </section>
            <!-- Form END -->

        </main>
        <!-- Main END -->

        <!-- Footer -->
        <footer>
            <div class="footer__insta">
                <img data-src="/img/footer/MG_insta_footer_1.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_2.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_3.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_4.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_5.jpg" class="footer__insta__img" alt="photo instagram"></img>
            </div>
            <p class="legal"><a href="#">Mention légales. Tous droits réservés.</a></p>
        </footer>
        <!-- Footer END -->

        <!-- JS script -->
        <script src="/js/contact/index.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>