<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/portfolio/mariage-family/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Galerie Famille</title>
        <meta name="description"
            content="Une séance photo en famille ou en couple ? Des souvenirs de votre grossesse ? Voici un exemple de mes photos, disponible à Grasse et dans les Alpes-Maritimes">
    </head>
    <body>
        <!-- Header -->
        <header class="header__menu">
        
            <!-- Menu Hamburger pour mobile -->
            <div class="menu__mobile">Menu
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        
            <div class="logo__mobile">
                <a href="/">
                    <img src="/img/logo_black.png" alt="logo">
                </a>
            </div>
        
            <!-- Menu -->
            <nav>
                <ul class="menu">
                    <li class="menu__cell"><a class="menu__link" href="/presentation">Présentation</a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Portfolio</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/famille">Famille/Couple</a>
                            </li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/portrait">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell header__logo"><a class="menu__link menu__img" href="/">
                            <img src="/img/logo_black.png" alt="logo">
                        </a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Informations</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub"
                                    href="/informations#famille">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#portrait">Portrait</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__cell"><a class="menu__link" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- Menu END-->
        </header>
        <!-- Header END -->

        <!-- Main -->
        <main>
            <div class="spacer"></div>
            <section class="gallery" id="section1">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-1">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-2">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-3">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-4">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-5">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-6">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-7">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-8">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-9">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-10">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-11">
                <img src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-12">
                <img src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-1">
                <img src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-2">
                <img src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-3">
                <img src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section2">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section3">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographegrossesse.grasse.jpg" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/01.meganeguisnet.photographefamille.alpesmaritimes.jpg" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section4">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/02.meganeguisnet.photographenaissance.grasse.alpesmaritimes.jpg" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

        </main>
        <!-- Main END -->

        <!-- Footer -->
        <footer>
            <div class="footer__insta">
                <img data-src="/img/footer/MG_insta_footer_1.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_2.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_3.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_4.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_5.jpg" class="footer__insta__img" alt="photo instagram"></img>
            </div>
            <p class="legal"><a href="#">Mention légales. Tous droits réservés.</a></p>
        </footer>
        <!-- Footer END -->
        
        <!-- JS script -->
        <script src="/js/galeries/mariage-family/scrollAnim.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>