<!DOCTYPE html>
    <html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/portfolio/family/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Galerie Famille</title>
        <meta name="description"
            content="Une séance photo en famille ou en couple ? Des souvenirs de votre grossesse ? Voici un exemple de mes photos, disponible à Grasse et dans les Alpes-Maritimes">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>
            <div class="spacer"></div>
            <section class="gallery" id="section1">
                <img src="/img/galeries/family/section1/03.meganeguisnet.photographefamille.photographegrasse.webp" alt="Image galerie famille" class="img-1">
                <img src="/img/galeries/family/section1/04.meganeguisnet.photographegrossesse.alpesmaritimes.webp" alt="Image galerie famille" class="img-2">
                <img src="/img/galeries/family/section1/05.meganeguisnet.photographe.naissance.grasse.alpesmaritimes.webp" alt="Image galerie famille" class="img-3">
                <img src="/img/galeries/family/section1/05.meganeguisnet.photographefamille.grasse.webp" alt="Image galerie famille" class="img-4">
                <img src="/img/galeries/family/section1/DSC_0763.webp" alt="Image galerie famille" class="img-5">
                <img src="/img/galeries/family/section1/DSC_0416.webp" alt="Image galerie famille" class="img-6">
                <img src="/img/galeries/family/section1/DSC_1875.webp" alt="Image galerie famille" class="img-7">
                <img src="/img/galeries/family/section1/DSC_4077.webp" alt="Image galerie famille" class="img-8">
                <img src="/img/galeries/family/section1/DSC_4391.webp" alt="Image galerie famille" class="img-9">
                <img src="/img/galeries/family/section1/DSC_7325.webp" alt="Image galerie famille" class="img-10">
                <img src="/img/galeries/family/section1/DSC_9090.webp" alt="Image galerie famille" class="img-11">
                <img src="/img/galeries/family/section1/DSC_9141.webp" alt="Image galerie famille" class="img-12">
                <img src="/img/galeries/family/section1/DSC_4068.webp" alt="Image galerie famille" class="big-1">
                <img src="/img/galeries/family/section1/DSC_5169.webp" alt="Image galerie famille" class="big-2">
                <img src="/img/galeries/family/section1/DSC_5450.webp" alt="Image galerie famille" class="big-3">
                <img src="/img/galeries/family/section1/DSC_7110.webp" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section2">
                <img data-src="/img/galeries/family/section2/01.meganeguisnet.photographenaissance.grasse.photographe.webp" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/section2/02.meganeguisnet.photographegrossesse.alpesmaritimes.webp" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/section2/06.meganeguisnet.photographegrasse.webp" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/section2/06.meganeguisnet.photographenaissance.alpesmaritimes.webp" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/section2/DSC_1478.webp" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/section2/DSC_2004.webp" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/section2/DSC_4927.webp" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/section2/DSC_5638.webp" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/section2/DSC_8992.webp" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/section2/DSC_9059.webp" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/section2/DSC_9310-2.webp" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/section2/DSC_9387.webp" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/section2/DSC_0732-2.webp" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/section2/_MEG2065.webp" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/section2/DSC_4221.webp" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/section2/DSC_4252.webp" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section3">
                <img data-src="/img/galeries/family/section3/01.meganeguisnet.photographegrossesse.grasse 2.webp" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/section3/01.meganeguisnet.photographegrossesse.grasse.webp" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/section3/03.meganeguisnet.photographe.grasse.naissance.webp" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/section3/DSC_0973.webp" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/section3/DSC_2023.webp" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/section3/DSC_3779.webp" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/section3/DSC_3875-2.webp" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/section3/DSC_4007.webp" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/section3/DSC_5322.webp" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/section3/DSC_7123.webp" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/section3/DSC_9147.webp" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/section3/DSC_9679.webp" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/section3/DSC_9370-2.webp" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/section3/03.meganeguisnet.photographegrossesse.alpesmaritimes.jpg.webp" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/section3/DSC_0437.webp" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/section3/DSC_4667.webp" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section4">
                <img data-src="/img/galeries/family/section4/02.meganeguisnet.photographealpesmaritimes.photographemariagealpesmaritimes.webp" alt="Image galerie famille" class="img-1">
                <img data-src="/img/galeries/family/section4/04.meganeguisnet.photographe.naissance.alpesmaritimes.webp" alt="Image galerie famille" class="img-2">
                <img data-src="/img/galeries/family/section4/05.meganeguisnet.photographe.naissance.grasse.webp" alt="Image galerie famille" class="img-3">
                <img data-src="/img/galeries/family/section4/06.meganeguisnet.photographealpesmaritimes.photographegrossessealpesmaritimes.webp" alt="Image galerie famille" class="img-4">
                <img data-src="/img/galeries/family/section4/DSC_1954.webp" alt="Image galerie famille" class="img-5">
                <img data-src="/img/galeries/family/section4/DSC_3319.webp" alt="Image galerie famille" class="img-6">
                <img data-src="/img/galeries/family/section4/DSC_4146.webp" alt="Image galerie famille" class="img-7">
                <img data-src="/img/galeries/family/section4/DSC_4601.webp" alt="Image galerie famille" class="img-8">
                <img data-src="/img/galeries/family/section4/DSC_4852-2.webp" alt="Image galerie famille" class="img-9">
                <img data-src="/img/galeries/family/section4/DSC_4948.webp" alt="Image galerie famille" class="img-10">
                <img data-src="/img/galeries/family/section4/DSC_4982.webp" alt="Image galerie famille" class="img-11">
                <img data-src="/img/galeries/family/section4/DSC_7070.webp" alt="Image galerie famille" class="img-12">
                <img data-src="/img/galeries/family/section4/01.meganeguisnet.photographe.famille.antibes-2.webp" alt="Image galerie famille" class="big-1">
                <img data-src="/img/galeries/family/section4/DSC_5385.webp" alt="Image galerie famille" class="big-2">
                <img data-src="/img/galeries/family/section4/DSC_5829-2.webp" alt="Image galerie famille" class="big-3">
                <img data-src="/img/galeries/family/section4/DSC_6613.webp" alt="Image galerie famille" class="big-4">
            </section>

            <div class="spacer-min"></div>

        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>
        
        <!-- JS script -->
        <script src="/js/galeries/scrollAnim.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>