<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/index/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe</title>
        <meta name="description"
            content="Photographe indépendante à Grasse et dans la région PACA. Disponible pour vos mariages, séances en famille et portrait.">
    </head>
    <body>
        <!-- Header -->
        <header class="header__menu">
            <!-- Menu -->
            <nav>
                <ul class="menu">
                    <li class="menu__cell"><a class="menu__link" href="#">Présentation</a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link" href="#">Portfolio</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link" href="">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell menu__img"><a class="menu__link" href="#">
                        <img class="header__logo" src="./img/logo_black.png" alt="logo">
                    </a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link" href="#">Informations</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link" href="">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell"><a class="menu__link" href="#">Contact</a></li>
                </ul>
            </nav>
            <!-- Menu END-->
        </header>
        <!-- Header END -->

        <!-- Main -->
        <main>
            <!-- Carousel -->
            <section class="carousel">
                <div class="carousel__slider">
                    <div class="carousel__slider__slide carousel__slider__slide--current"></div>
                    <div class="carousel__slider__slide"></div>
                    <div class="carousel__slider__slide"></div>
                    <div class="carousel__slider__slide"></div>
                </div>
            </section>
            <!-- Carousel END -->

            <!-- Intro -->
            <section class="intro__container">

                <!-- Intro aside -->
                <aside class="intro__img">
                    <img src="/img/about/Megane.Guisnet.Photographe.Alpesmaritimes.Grasse.jpg" alt="Image de profil">
                </aside>
                <!-- Intro aside END -->

                <div class="intro">
    
                    <!-- Intro header -->
                    <header class="header__intro">
                        <p class="header__intro__theme">Lumière | Emotions | Souvenirs</p>
                        <h1 class="header__intro__title">Bienvenue, je suis photographe à Grasse et dans les Alpes-Maritimes</h1>
                        <p class="header__intro__sub">Amoureuse de l'Amour sous toutes ses formes et des couchers de soleil.<br>Pour les familles complices et les amoureux(ses) passionné(e)s.</p>
                        <p class="header__intro__sub">Disponible à Grasse<br>Dans les Alpes-Maritimes et<br>Partout où vous souhaitez que je sois.</p>
                        <address class="header__intro__sub">Téléphone: <strong>07.61.73.20.05</strong><br>Mail: meganeguisnet@gmail.com<br>Instagram: <a class="header__intro__instagram" href="#">@megane_guisnet</a></address>
                    </header>
                    <!-- Intro header END -->

                    <!-- Intro main -->
                    <main class="main__intro">
                        <p class="main__intro__about">Besoin insatiable de figer le temps, les instants, depuis petite, puis les visages et la lumière depuis quelques années;
                        la photo est devenue un réel échappatoire, besoin. Un besoin pour les rencontres, pour les regards, pour les âmes
                        sincères qui me font confiance et me partagent des morceaux de leurs vies.</p>
                        <p class="main__intro__about">J'essaie, à travers mes portraits, mes séances couples ou famille, de vous montrer ce que je vois de vous. De vous
                        offrir par mon expérience, un moment de douceur, de complicité; de vous créer de nouveaux souvenirs.</p>
                        <p class="main__intro__about">Chacune de mes séances ou prestation sont basées sur la confiance et sont à prendre avec le sourire et la bonne humeur!</p>
                        <p class="main__intro__about">Si vous vous êtes retrouvés ici, c'est que de jolies choses se passent autour de vous. Que vous veniez me voir pour
                        immortaliser votre union, votre amour, une nouvelle arrivée, immortaliser de jolis souvenirs; je m’emploie à faire
                        sortir, en vous guidant aussi maladroitement que minutieusement, le meilleur de vous même.</p>
                        <p class="main__intro__about">Ces moments, si vous décidez de me les confier, auront tout l’air d’un moment entre ami(e)s je m’y engage formellement !</p>
    
                        <a class="btn" href="#">Contactez moi</a>
                    </main>
                    <!-- Intro main END -->
    
                </div>

            </section>
            <!-- Intro END -->

            <!-- Galeries -->
            <section class="galeries">
                <div class="galeries__theme"><a href="#" class="btn btn__galeries">Galerie<br>Mariage</a></div>
                <div class="galeries__theme"><a href="#" class="btn btn__galeries">Galerie<br>Famille</a></div>
                <div class="galeries__theme"><a href="#" class="btn btn__galeries">Galerie<br>Portrait</a></div>
            </section>
            <!-- Galeries END -->

            <!-- Contact -->
            <section class="contact">
                <div class="contact__container">
                    <p class="contact__description">Je vous conseille, je vous guide avec un regard bienveillant sur la création de vos souvenirs</p>
                    <a class="btn" href="#">écrivez-moi !</a>
                </div>
            </section>
            <!-- Contact END -->

        </main>
        <!-- Main END -->

        <!-- Footer -->
        <footer>
            <div class="footer__insta">
                <div class="footer__insta__img"></div>
                <div class="footer__insta__img"></div>
                <div class="footer__insta__img"></div>
                <div class="footer__insta__img"></div>
                <div class="footer__insta__img"></div>
            </div>
            <p class="legal"><a href="#">Mention légales. Tous droits réservés.</a></p>
        </footer>
        <!-- Footer END -->

        <!-- JS script -->
        <script src="/js/index.js"></script>
        <!-- JS script END -->
    </body>
</html>