<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/index/style.css">
        <title>Document</title>
    </head>
    <body>
        <!-- Header -->
        <header class="header__menu">
            <!-- Menu -->
            <nav>
                <ul class="menu">
                    <li class="menu__cell"><a class="menu__link" href="#">Présentation</a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link" href="#">Portfolio</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link" href="">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell menu__img"><a class="menu__link" href="#">
                        <img class="header__logo" src="./img/logo_black.png" alt="logo">
                    </a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link" href="#">Informations</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link" href="">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link" href="">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell"><a class="menu__link" href="#">Contact</a></li>
                </ul>
            </nav>
            <!-- Menu END-->
        </header>
        <!-- Header END -->

        <!-- Main -->
        <main>
            <!-- Carousel -->
            <div class="carousel">
                <div class="carousel__slider">
                    <div class="carousel__slider__slide carousel__slider__slide--current"></div>
                    <div class="carousel__slider__slide"></div>
                    <div class="carousel__slider__slide"></div>
                    <div class="carousel__slider__slide"></div>
                </div>
            </div>
            <!-- Carousel END -->
        </main>
        <!-- Main END -->

        <!-- Footer -->
        <footer>

        </footer>
        <!-- Footer END -->

        <!-- JS script -->
        <script src="/js/index.js"></script>
        <!-- JS script END -->
    </body>
</html>