<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/informations/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Informations</title>
        <meta name="description"
            content="Informations, détails et tarifs de mes prestations de photographe. Basé à Grasse et disponible dans les Alpes-Maritimes.">
    </head>
    <body>
        <!-- Header -->
        <header class="header__menu">
        
            <!-- Menu Hamburger pour mobile -->
            <div class="menu__mobile">Menu
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        
            <div class="logo__mobile">
                <a href="/">
                    <img src="./img/logo_black.png" alt="logo">
                </a>
            </div>
        
            <!-- Menu -->
            <nav>
                <ul class="menu">
                    <li class="menu__cell"><a class="menu__link" href="/presentation">Présentation</a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Portfolio</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/famille">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/portfolio/portrait">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell header__logo"><a class="menu__link menu__img" href="/">
                            <img src="./img/logo_black.png" alt="logo">
                        </a></li>
                    <li class="menu__cell menu__cell--active"><a class="menu__link">Informations</a>
                        <ul class="menu__sub">
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#mariage">Mariage</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#famille">Famille/Couple</a></li>
                            <li class="menu__sub__cell"><a class="menu__link__sub" href="/informations#portrait">Portrait</a></li>
                        </ul>
                    </li>
                    <li class="menu__cell"><a class="menu__link" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- Menu END-->
        </header>
        <!-- Header END -->

        <!-- Main -->
        <main>
            <section id="mariage"></section>
            <section id="famille"></section>
            <section id="portrait"></section>
        </main>
        <!-- Main END -->

        <!-- Footer -->
        <footer>
            <div class="footer__insta">
                <img data-src="/img/footer/MG_insta_footer_1.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_2.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_3.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_4.jpg" class="footer__insta__img" alt="photo instagram"></img>
                <img data-src="/img/footer/MG_insta_footer_5.jpg" class="footer__insta__img" alt="photo instagram"></img>
            </div>
            <p class="legal"><a href="#">Mention légales. Tous droits réservés.</a></p>
        </footer>
        <!-- Footer END -->
        
        <!-- JS script -->
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>