<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/informations/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Informations</title>
        <meta name="description"
            content="Informations, détails et tarifs de mes prestations de photographe. Basé à Grasse et disponible dans les Alpes-Maritimes.">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
       
        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>

            <div class="spacer"></div>

            <section id="mariage">
                <div class="top-part">
                    <div class="picture-container">
                        <div class="picture__background"></div>
                        <div class="picture__img"></div>
                    </div>
                    <div class="text-container">
                        <h2 class="text__title">Informations<br>Mariage</h2>
                        <p class="text__sub">Vous avez ce merveilleux projet de vous marier ? Recherchez une photographe afin d'immortaliser avec un regard bienveillant, les souvenirs d'un des plus beaux jours de votre vie ? J'aime vous accompagner tout au long de votre belle aventure, dès le premier échange. Vos envies pour ce jour si important, m'importent.</p>
                        <br>
                        <p class="text__sub">J'aime vous guider, vous accompagner. Je saurai me fondre dans les moments les plus importants ; je veux être votre amie, que cette journée se passe sans gène, avec toute la simplicité du monde ! Je vous suivrai, tout au long, de vos préparatifs et de cette journée, afin de capturer, sans poser, chaque instants de votre mariage. J'accorde une importance et ai une attache particulière aux liens que nous créons durant nos échanges et nos rencontres.</p><br>
                        <p class="text__sub">Ce jour là, il m'arrive que l'on me confie tant des objets clés que des pensées personnelles! Aussi, il est certain que je verserai quelque larmes tant je suis souvent touchée par le bonheur et l'amour que dégagent ces instants! <strong>Mes prestations sont personnalisable en fonction de vos envies, besoins et budget.</strong> Ecrivez moi via la rubrique Contact en me précisant la date, le lieu de l'évènement et les moments que vous aimeriez que je couvre afin que j'établisse un devis correspondant au mieux a vos attentes!</p>
                    </div>
                </div>
                <div class="down-part">
                    <div class="testimonial-container">
                        <div class="testimonial-bloc show">
                            <img class="testimonial-img" src="/img/informations/right-quote.png" alt="">
                            <p class="testimonial-text"></p>
                            
                            <h3 class="testimonial-name"></h3>
                            <p class="testimonial-date"></p>
                            <nav class="testimonial-nav">
                                <button class="arrow-btn previous">
                                    <span class="arrow --arrow-left"></span>
                                </button>
                                <button class="arrow-btn next">
                                    <span class="arrow --arrow-right"></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <div class="spacer"></div>

            <section id="famille">
                <div class="top-part --reverse">
                    <div class="text-container">
                        <h2 class="text__title">Informations<br>Famille / Couple</h2>
                        <p class="text__sub">Vous avez envie de souvenirs figés et imagés d'un moment en famille, entre amoureux(ses) passioné(e)s , entres amies; pour
                        immortaliser une grossesse, une naissance. Je suis là pour attraper avec spontanéité et sincérité vos moment intimes et
                        particulier qui tiennent tant à coeur !</p>
                        <p class="text__sub">J'aime capturer vos instants qui sont si précieux, je saurai me faire discète quant à cette séance photo qui sera avant
                        tout un moment de tendresse et de partage intime!</p>
                        <br>
                        <p class="text__sub">Je m'engage à photographier vos sourires, vos éclats de rire sans spécialement vous faire poser. Que ce soit une séance
                        photo lifestyle à la maison ou durant une balade dans la bonne humeur, je m'engage à tirer le meilleur de ces moments
                        uniques !!</p>
                        <br>
                        <p class="text__sub">Séances photos à partir de <strong>150 euros. </strong></p>
                    </div>
                    <div class="picture-container">
                        <div class="picture__background --right"></div>
                        <div class="picture__img --white"></div>
                    </div>
                </div>
                <div class="down-part">
                    <div class="testimonial-container">
                        <div class="testimonial-bloc show">
                            <img class="testimonial-img" src="/img/informations/right-quote.png" alt="">
                            <p class="testimonial-text"></p>
                
                            <h3 class="testimonial-name"></h3>
                            <nav class="testimonial-nav">
                                <button class="arrow-btn previous">
                                    <span class="arrow --arrow-left"></span>
                                </button>
                                <button class="arrow-btn next">
                                    <span class="arrow --arrow-right"></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <div class="spacer"></div>

            <section id="portrait">
                <div class="top-part">
                    <div class="picture-container">
                        <div class="picture__background"></div>
                        <div class="picture__img"></div>
                    </div>
                    <div class="text-container">
                        <h2 class="text__title">Informations<br>Portrait</h2>
                        <p class="text__sub">Vous souhaitez réaliser des images qui vous représentent ou au contraire avez envie de vous plier au jeu de modèle?</p>
                        <p class="text__sub">Avez besoin d'un coup de boost au moral et au rapport au corps? Cela tombe bien!</p>
                        <p class="text__sub">En tant que femme nous avons souvent chacune nos petits complexes, personels. Il est difficile d'acquérir une complète
                        confiance de soi ou cette dernière fait les montagnes russes !</p>
                        <p class="text__sub">J'aime essayer de desceller l'image négative que nous avons de nous même.</p>
                        <p class="text__sub">J'aime bousculer les stéréotypes, les aprioris, qui disent qu'une modèle photo doit faire telle taille, avoir telles
                        formes ou non. Ou justement qu'il faut impérativement être modèle pour se retrouver face à l'appareil photo !</p>
                        <br>
                        <p class="text__sub">Nous sommes des femmes trop souvent confrontées à un idéaliste feminin et je veux, par le biais des séances photos vous
                        prouver que nous sommes toutes belles, dans toutes nos formes, toutes nos couleurs!</p>
                        <br>
                        <p class="text__sub">Je veux avant de shooter, vous entendre et vous comprendre afin de réaliser des images qui vous correspondent!</p>
                        <br>
                        <p class="text__sub">Séances photos portrait à partir de <strong>90 euros.</strong></p>
                    </div>
                </div>
                <div class="down-part">
                    <div class="testimonial-container">
                        <div class="testimonial-bloc show">
                            <img class="testimonial-img" src="/img/informations/right-quote.png" alt="">
                            <p class="testimonial-text"></p>
                
                            <h3 class="testimonial-name"></h3>
                            <nav class="testimonial-nav">
                                <button class="arrow-btn previous">
                                    <span class="arrow --arrow-left"></span>
                                </button>
                                <button class="arrow-btn next">
                                    <span class="arrow --arrow-right"></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <div class="spacer"></div>

        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>
        
        <!-- JS script -->
        <script src="/js/informations/testimonials-wedding.js"></script>
        <script src="/js/informations/testimonials-family.js"></script>
        <script src="/js/informations/testimonials-portrait.js"></script>
        <script src="/js/informations/scrollAnim.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>