<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/legals/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Mentions Légales</title>
        <meta name="description" content="Mentions légales Mégane Guisnet Photographe Grasse.">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>

            <div class="spacer"></div>

            <div class="container">
                <div class="text-container">
                    <h1 class="text__title --big">Mentions Légales</h1>
                    <p class="text__sub">Bienvenue sur le site web www.meganeguinset.com. En visitant ce site, vous reconnaissez avoir pris connaissance des
                    conditions générales d'utilisation et vous vous engagez les respecter.</p>
                    <p class="text__sub">Tous les éléments (informations, données, images etc.) sont la propriété exclusive de Mégane Guisnet et sont protégées
                    par les dispositions du code de la propriété intellectuelle. Ni les photographies, ni les textes ne sont libres de
                    droits.</p>
                    <p class="text__sub">En appliquant ce code français de la propriété intellectuelle, l'utilisateur s'interdit de reproduire, diffuser ou
                    modifier sous quelque forme que ce soit, les œuvres protégées par le droit d'auteur qui figurent sur le présent site,
                    sans autorisation écrite de Mégane Guisnet.</p>
                </div>

                <div class="spacer-min"></div>

                <div class="text-container">
                    <h2 class="text__title">Liens hypertextes</h2>
                    <p class="text__sub">Tous sites ayant un lien hypertexte avec le présent site, ne sont pas sous le contrôle de Mégane Guisnet qui décline
                    toute responsabilité quant à leur contenu. L'utilisateur est le seul responsable de leur utilisation.</p>
                </div>

                <div class="spacer-min"></div>

                <div class="text-container">
                    <h2 class="text__title">Données personnelles</h2>
                    <p class="text__sub">De manière générale, vous n'êtes pas tenu dans l’obligation de nous communiquer vos données personnelles lorsque vous visitez le présent site web.</p>
                    <p class="text__sub">Cependant, certaines exceptions peuvent être considérées telle que votre adresse électronique, votre nom et prénom et éventuellement numéro de téléphone lorsque vous remplissez le formulaire contact. Ces données ne seront jamais utilisées à des fins publicitaires.</p>
                </div>

                <div class="spacer-min"></div>

                <div class="text-container">
                    <h2 class="text__title">Conditions générales de ventes</h2>
                    <p class="text__sub">Les Conditions générales de ventes sont transmises au moment du contrat de réservation ou sur demande.</p>
                </div>

                <div class="spacer-min"></div>

                <div class="text-container">
                    <address>
                        <p class="text__sub">Auto entrepreneur</p>
                        <p class="text__sub">Tel : 07.61.73.20.05</p>
                        <p class="text__sub">06130 Grasse – Alpes Maritimes</p>
                        <p class="text__sub">Siret n° 843 118 274 00011 - Code APE : 7420Z</p>
                        <p class="text__sub">Adresse mail : meganeguisnet@gmail.com</p>
                    </address>
                </div>

                <div class="spacer-min"></div>

                <div class="text-container">
                    <p class="text__sub">Directeur de la publication et Rédactrice de ce site web : Mégane Guisnet – Personne physique.</p>
                    <p class="text__sub">Webmaster : Kévin Sanmartin kevinsanmartin@live.fr www.kevinsanmartin.fr</p>
                    <p class="text__sub">Hébergement : OVH 2 Rue Kellermann 59100 Roubaix</p>
                </div>
            </div>
        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>

        <!-- JS script -->
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->

    </body>
</html>