<!DOCTYPE html>
    <html lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGDW93Z');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/portfolio/mariage/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Galerie Mariage</title>
        <meta name="description"
            content="Vous organisez un mariage ? Vous recherchez un prestataire ? Venez découvrir des exemples de mes photos, je suis disponible à Grasse et dans les Alpes-Maritimes.">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDW93Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>
            <div class="spacer"></div>
            <section class="gallery" id="section1">
                <img src="/img/galeries/mariage/section1/PAYSAGE/1.webp" alt="Image galerie mariage" class="img-1">
                <img src="/img/galeries/mariage/section1/PAYSAGE/2.webp" alt="Image galerie mariage" class="img-2">
                <img src="/img/galeries/mariage/section1/PAYSAGE/3.webp" alt="Image galerie mariage" class="img-3">
                <img src="/img/galeries/mariage/section1/PAYSAGE/4.webp" alt="Image galerie mariage" class="img-4">
                <img src="/img/galeries/mariage/section1/PAYSAGE/5.webp" alt="Image galerie mariage" class="img-5">
                <img src="/img/galeries/mariage/section1/PAYSAGE/6.webp" alt="Image galerie mariage" class="img-6">
                <img src="/img/galeries/mariage/section1/PAYSAGE/7.webp" alt="Image galerie mariage" class="img-7">
                <img src="/img/galeries/mariage/section1/PAYSAGE/8.webp" alt="Image galerie mariage" class="img-8">
                <img src="/img/galeries/mariage/section1/PORTRAITS/1.webp" alt="Image galerie mariage" class="big-1">
                <img src="/img/galeries/mariage/section1/PORTRAITS/2.webp" alt="Image galerie mariage" class="big-2">
                <img src="/img/galeries/mariage/section1/PORTRAITS/3.webp" alt="Image galerie mariage" class="big-3">
                <img src="/img/galeries/mariage/section1/PORTRAITS/4.webp" alt="Image galerie mariage" class="big-4">
                <img src="/img/galeries/mariage/section1/PORTRAITS/5.webp" alt="Image galerie mariage" class="big-5">
                <img src="/img/galeries/mariage/section1/PORTRAITS/6.webp" alt="Image galerie mariage" class="big-6">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section2">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/1.webp" alt="Image galerie mariage" class="img-1">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/2.webp" alt="Image galerie mariage" class="img-2">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/3.webp" alt="Image galerie mariage" class="img-3">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/4.webp" alt="Image galerie mariage" class="img-4">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/5.webp" alt="Image galerie mariage" class="img-5">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/6.webp" alt="Image galerie mariage" class="img-6">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/7.webp" alt="Image galerie mariage" class="img-7">
                <img data-src="/img/galeries/mariage/section2/PAYSAGE/8.webp" alt="Image galerie mariage" class="img-8">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/1.webp" alt="Image galerie mariage" class="big-1">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/2.webp" alt="Image galerie mariage" class="big-2">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/3.webp" alt="Image galerie mariage" class="big-3">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/4.webp" alt="Image galerie mariage" class="big-4">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/5.webp" alt="Image galerie mariage" class="big-5">
                <img data-src="/img/galeries/mariage/section2/PORTRAITS/6.webp" alt="Image galerie mariage" class="big-6">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section3">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/1.webp" alt="Image galerie mariage" class="img-1">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/2.webp" alt="Image galerie mariage" class="img-2">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/3.webp" alt="Image galerie mariage" class="img-3">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/4.webp" alt="Image galerie mariage" class="img-4">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/5.webp" alt="Image galerie mariage" class="img-5">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/6.webp" alt="Image galerie mariage" class="img-6">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/7.webp" alt="Image galerie mariage" class="img-7">
                <img data-src="/img/galeries/mariage/section3/PAYSAGE/8.webp" alt="Image galerie mariage" class="img-8">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/1.webp" alt="Image galerie mariage" class="big-1">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/2.webp" alt="Image galerie mariage" class="big-2">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/3.webp" alt="Image galerie mariage" class="big-3">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/4.webp" alt="Image galerie mariage" class="big-4">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/5.webp" alt="Image galerie mariage" class="big-5">
                <img data-src="/img/galeries/mariage/section3/PORTRAITS/6.webp" alt="Image galerie mariage" class="big-6">
            </section>

            <div class="spacer-min"></div>

            <section class="gallery" id="section4">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/1.webp" alt="Image galerie mariage" class="img-1">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/2.webp" alt="Image galerie mariage" class="img-2">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/3.webp" alt="Image galerie mariage" class="img-3">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/4.webp" alt="Image galerie mariage" class="img-4">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/5.webp" alt="Image galerie mariage" class="img-5">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/6.webp" alt="Image galerie mariage" class="img-6">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/7.webp" alt="Image galerie mariage" class="img-7">
                <img data-src="/img/galeries/mariage/section4/PAYSAGE/8.webp" alt="Image galerie mariage" class="img-8">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/1.webp" alt="Image galerie mariage" class="big-1">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/2.webp" alt="Image galerie mariage" class="big-2">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/3.webp" alt="Image galerie mariage" class="big-3">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/4.webp" alt="Image galerie mariage" class="big-4">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/5.webp" alt="Image galerie mariage" class="big-5">
                <img data-src="/img/galeries/mariage/section4/PORTRAITS/6.webp" alt="Image galerie mariage" class="big-6">
            </section>

            <div class="spacer-min"></div>

        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>
        
        <!-- JS script -->
        <script src="/js/galeries/scrollAnim.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>