<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portfolio/portrait/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap"
        rel="stylesheet">
    <title>Megane Guisnet Photographe - Galerie Portrait</title>
    <meta name="description"
        content="Envie de réaliser un book portrait ? Besoin d'un boost de confiance grâce à la photothérapie ? N'hesitez pas, je suis disponible à Grasse et dans les Alpes-Maritimes">
</head>

<body>
    
    <%- include ('./partials/header.ejs') %>

    <!-- Main -->
    <main>
        <div class="spacer"></div>
        <section class="gallery" id="section1">
            <img src="/img/galeries/portrait/section1/01.meganeguisnet.photographegrasse.photographealpesmaritimes.webp" alt="Image galerie portrait" class="img-1">
            <img src="/img/galeries/portrait/section1/02.meganeguisnet.photographe.portrait.grasse.webp" alt="Image galerie portrait" class="img-2">
            <img src="/img/galeries/portrait/section1/03.meganeguisnet.photographe.cannes.photographe.nice.webp" alt="Image galerie portrait" class="img-3">
            <img src="/img/galeries/portrait/section1/04.meganeguisnet.photographe.grasse.webp" alt="Image galerie portrait" class="img-4">
            <img src="/img/galeries/portrait/section1/05.meganeguisnet.photographe.portrait.alpesmaritimes.grasse.webp" alt="Image galerie portrait" class="img-5">
            <img src="/img/galeries/portrait/section1/06.meganeguisnet.photographe.alpesmaritimes.grasse.webp" alt="Image galerie portrait" class="img-6">
            <img src="/img/galeries/portrait/section1/01.megane.guisnet.photographe.alpesmaritimes.webp" alt="Image galerie portrait"class="big-1">
            <img src="/img/galeries/portrait/section1/02.meganeguisnet.photographepaca.photographenice.webp" alt="Image galerie portrait"class="big-2">
            <img src="/img/galeries/portrait/section1/03.meganeguisnet.photographe.grasse.alpesmaritimes.webp" alt="Image galerie portrait"class="big-3">
        </section>

        <div class="spacer-min"></div>

        <section class="gallery" id="section2">
            <img data-src="/img/galeries/portrait/section2/01.meganeguisnet.photographealpesmaritimes.photographegrasse.webp" alt="Image galerie portrait" class="img-1">
            <img data-src="/img/galeries/portrait/section2/02.meganeguisnet.photographe.portrait.suddelafrance.webp" alt="Image galerie portrait" class="img-2">
            <img data-src="/img/galeries/portrait/section2/03.meganeguisnet.photographeportrait.grasse.alpesmaritimes.webp" alt="Image galerie portrait" class="img-3">
            <img data-src="/img/galeries/portrait/section2/04.meganeguisnet.photographe.portrait.alpesmaritimes.webp" alt="Image galerie portrait" class="img-4">
            <img data-src="/img/galeries/portrait/section2/05.meganeguisnet.photographegrasse.webp" alt="Image galerie portrait" class="img-5">
            <img data-src="/img/galeries/portrait/section2/06.meganeguisnet.photographe.alpesmaritimes.mariages.webp" alt="Image galerie portrait" class="img-6">
            <img data-src="/img/galeries/portrait/section2/01.megane.guisnet.photographe.portrait.alpesmaritimes.webp" alt="Image galerie portrait" class="big-1">
            <img data-src="/img/galeries/portrait/section2/02.meganeguisnet.photographe.portrait.femme.alpesmaritimes.webp" alt="Image galerie portrait" class="big-2">
            <img data-src="/img/galeries/portrait/section2/03.meganeguisnet.photographe.cannes.portrait2web.webp" alt="Image galerie portrait" class="big-3">
        </section>

        <div class="spacer-min"></div>

        <section class="gallery" id="section3">
            <img data-src="/img/galeries/portrait/section3/01.meganeguisnet.photographealpesmaitimes.grasse.webp" alt="Image galerie portrait" class="img-1">
            <img data-src="/img/galeries/portrait/section3/02.Meganeguisnet.photographe.alpesmaritimes.webp" alt="Image galerie portrait" class="img-2">
            <img data-src="/img/galeries/portrait/section3/03.meganeguisnet.photographe.femme.grasse.webp" alt="Image galerie portrait" class="img-3">
            <img data-src="/img/galeries/portrait/section3/04.meganeguisnet.photographealpesmaritimes.portrait.grasse.webp" alt="Image galerie portrait" class="img-4">
            <img data-src="/img/galeries/portrait/section3/05.meganeguisnet.photographegrasse.webp" alt="Image galerie portrait" class="img-5">
            <img data-src="/img/galeries/portrait/section3/06.meganeguisnet.photographe.alpesmaritimes.grasse.webp" alt="Image galerie portrait" class="img-6">
            <img data-src="/img/galeries/portrait/section3/01.meganeguisnet.photographe.alpesmaritimes.grasse.webp" alt="Image galerie portrait" class="big-1">
            <img data-src="/img/galeries/portrait/section3/02.meganeguisnet.photographegrasse.webp" alt="Image galerie portrait" class="big-2">
            <img data-src="/img/galeries/portrait/section3/03.meganeguisnet.photographe.portrait.grasse.webp" alt="Image galerie portrait" class="big-3">
        </section>

        <div class="spacer-min"></div>

    </main>
    <!-- Main END -->

    <%- include ('./partials/footer.ejs') %>

    <!-- JS script -->
    <script src="/js/galeries/scrollAnim.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/footerLazyLoading.js"></script>
    <!-- JS script END -->
</body>

</html>