<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/presentation/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Megane Guisnet Photographe - Présentation</title>
        <meta name="description"
            content="Mégane Guisnet, photographe de mariages, familles et portraits. Disponible à Grasse, dans les Alpes-Maritimes et partout en France.">
    </head>
    <body>
        
        <%- include ('./partials/header.ejs') %>

        <!-- Main -->
        <main>
            <!-- Intro -->
            <section class="intro__container">
            
                <div class="intro__img">
                    <img data-src="/img/about/megane.guisnet.photographe.alpesmaritimes.grasse.webp" id="img-1"
                        alt="image de presentation" class="intro__img__bg"></img>
                    <img data-src="/img/about/Megane.Guisnet.Photographe.Alpesmaritimes.Grasse.webp" id="img-2"
                        alt="image de presentation" class="intro__img__profil">
                </div>
            
                <div class="intro__about" id="text-1">
                    <p class="intro__about__theme">Lumière | Emotions | Souvenirs</p>
                    <h1 class="intro__about__title">Créatrice de vos souvenirs lumineux.</h1>
                    <hr class="intro__about__separation">
                    <p class="intro__about__sub">Je m'appelle Mégane, j'ai 27 ans et si vous décidez de me confier vos souvenirs, j'ai une unique requête : me tutoyer !</p>
                    <p class="intro__about__sub">Native Bourguignonne et Grassoise de résidence fixe, j'ai étudié et été diplômée photographe premier prix du jury à l'ESMA (Ecole Supérieure des Métiers Artistiques) en 2015. Cela fait aujourd'hui trois belles années que je me suis lancée dans cette folle aventure qui est d'être photographe professionnelle, et quelle si belle aventure !</p>
                    <p class="intro__about__sub">J'ai, depuis petite, toujours eu ce besoin insatiable de figer le temps, capturer les instants. Puis, les visages et la lumière depuis quelques années. Photographier, vous rencontrer, partager et échanger avec vous est devenu un réel besoin. Un besoin pour les rencontres, pour vos histoires, pour vos regards, pour les âmes sincères qui me font confiance et me partagent des morceaux de leurs vies.</p>
                    <p class="intro__about__sub">J'ai rencontré des couples émouvants, des parents ou futurs parents formidables, des personnes aux histoires touchantes, d'un amour passionnant et chaque jours je me sens encore un peu plus chanceuse de faire ce métier.</p>
                    <p class="intro__about__sub">Si vous vous êtes retrouvés ici, c'est que de jolies choses se passent autour de vous, pour vous. Que vous veniez me voir pour immortaliser votre union, votre amour, une nouvelle arrivée. Je m'emploie à faire sortir, en vous guidant aussi maladroitement que minutieusement le meilleur de vous même et des souvenirs impérissables.</p>
                    <p class="intro__about__sub">N'hésitez pas à me partager vos envies, votre histoire, vos questions, car mon souhait le plus cher est de vous accompagner en douceur et avec bienveillance afin de retranscrire votre histoire, capturer vos émotions.</p>
                </div>
            
            </section>
            <!-- Intro END -->
            
            <!-- Intro -->
            <section class="intro__container --not-reversed">
            
                <div class="intro__about" id="text-2">
                    <h2 class="intro__about__title">Qui peut me contacter ?</h2>
                    <hr class="intro__about__separation">
                    <p class="intro__about__sub">La réponse est simple : tout le monde. Je n'ai pas de critères, pas de prérequis, pas de jugement.</p>
                    <p class="intro__about__sub">Vous avez des souvenirs à immortaliser, envie d'un moment hors du temps à ne penser qu'à vous, créer des nouveaux souvenirs, écrivez moi ! Tous les couples, tous les amours me font vibrer !</p>
                    <h2 class="intro__about__title --right">Liste de mes envies.</h2>
                    <hr class="intro__about__separation">
                    <ul class="--right">
                        <li><p class="intro__about__sub --right">Réaliser une séance couple sous la pluie</p></li>
                        <li><p class="intro__about__sub --right">Réaliser une séance allaitement peau à peau en extérieur à l'état sauvage</p></li>
                        <li><p class="intro__about__sub --right">Réaliser plus de séance allaitement (peu importe l'âge)</p></li>
                        <li><p class="intro__about__sub --right">Un mariage en Corse</p></li>
                        <li><p class="intro__about__sub --right">Un mariage en Italie</p></li>
                        <li><p class="intro__about__sub --right">Un mariage intimiste en montagne</p></li>
                    </ul>
                </div>
            
                <div class="intro__img">
                    <img data-src="/img/about/DSC_5005.webp" id="img-3" alt="image de presentation"
                        class="intro__img__bg --right-img-bg"></img>
                    <img data-src="/img/about/DSC_9753.webp" id="img-4" alt="image de presentation"
                        class="intro__img__profil --right-img-profil">
                </div>
            
            </section>

            <!-- Intro END -->
            <div class="spacer-min"></div>
        </main>
        <!-- Main END -->

        <%- include ('./partials/footer.ejs') %>

        <!-- JS script -->
        <script src="/js/presentation/scrollAnim.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/footerLazyLoading.js"></script>
        <!-- JS script END -->
    </body>
</html>